<p>add-book under books works!</p>
<p>isFormValid {{myNgForm.valid}}</p>
<form #myNgForm="ngForm" (ngSubmit)="saveBook()" class="add-book-form">
    <mat-form-field appearance="fill">
    <input matInput name="title" placeholder="title" [(ngModel)]="model42WayBinding.title" required>
    <mat-icon matSuffix><span class="material-symbols-outlined">
auto_stories
</span></mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
    <mat-form-field appearance="fill">
    <input matInput name="author" placeholder="author"  [(ngModel)]="model42WayBinding.author" required>
    <mat-icon matSuffix><span class="material-symbols-outlined">
settings_accessibility
</span></mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
    <mat-form-field appearance="fill">
    <input matInput name="pages" placeholder="pages"  [(ngModel)]="model42WayBinding.totalPages">
    <mat-icon matSuffix><span class="material-symbols-outlined">
</span></mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
  <mat-select name="price" placeholder="Price" [(ngModel)]="model42WayBinding.price.value">
    <mat-option *ngFor="let price of prices" [value]="price.value">
      {{price.viewValue}}
    </mat-option>
  </mat-select>
    <mat-icon matSuffix>
<span class="material-symbols-outlined">
attach_money
</span>
    </mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" name="publishedOn" [(ngModel)]="model42WayBinding.publishedOn" required>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-slide-toggle class="slide" name="isPublished" [(ngModel)]="model42WayBinding.isPublished">tag the book as "Published!"</mat-slide-toggle>
  <button type="submit" mat-raised-button color="primary" [disabled]="myNgForm.invalid">save the book </button>

</form>
<p>{{myNgForm.value |json}} </p>
