<p>allbooks works!</p>

<!-- <a [routerLink]="'recent'">Recent Books</a>
<button (click)="increase()"> counter ++</button>
<button (click)="decrease()"> counter --</button>
<p>Counter={{countr2Service.counter}}</p> -->

<h2>Books</h2>
<p>{{pagetitle}}</p>
<button mat-raised-button color="primary" [routerLink]="'new'">add new book </button><br><br>
<button mat-raised-button color="primary" [routerLink]="'new-reactive'">add reactive new book </button><br><br>
<app-book-car [alleBooks]="books"></app-book-car>
