<p>add-book-reactive works!</p>
<p>add-book under books works!</p>

<button (click)="updateFormValues()">oppdater forme sine verdi</button><span></span><br>
<p>show value of title element of the reactive form : {{this.addBookForm.get('title')?.value}}</p>
<p>show status of title element of the reactive form : {{this.addBookForm.get('title')?.valid}}</p>
<p>show errors of title element of the reactive form : {{this.addBookForm.get('title')?.errors|json}}</p>

<form class="add-book-form" [formGroup]="addBookForm" (ngSubmit)="saveBook()">

<div>
  <h3>choose which will be required for doc?/pdf?</h3>
  <p>an example of dynamic validation</p>
  <mat-radio-group aria-label="Select an option" formControlName="formatType" class="toggle">
  <mat-radio-button value="doc">DOC</mat-radio-button>
  <mat-radio-button value="pdf">PDF</mat-radio-button>
</mat-radio-group>
</div>


  <mat-form-field appearance="fill">
  <mat-label>doc format</mat-label>
    <input matInput name="docFormat" placeholder="" formControlName="docFormat" >
    <mat-icon matSuffix><span class="material-symbols-outlined">auto_stories</span></mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>pdf format</mat-label>
    <input matInput name="pdfFormat" placeholder="" formControlName="pdfFormat" >
    <mat-icon matSuffix><span class="material-symbols-outlined">auto_stories</span></mat-icon>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <input matInput name="title" placeholder="title" formControlName="title" required>
    <mat-icon matSuffix><span class="material-symbols-outlined">auto_stories</span></mat-icon>

    <mat-hint>{{titleErrorMessage}}</mat-hint>

  </mat-form-field>

 <div formArrayName="authors">
   <div *ngFor="let author of authors.controls; let i = index">
    <mat-form-field appearance="fill" [formGroupName]="i">
    <input matInput name="author" placeholder="authors fullName" formControlName="authorFullName">
    <mat-icon matSuffix><span class="material-symbols-outlined">settings_accessibility</span></mat-icon>
  </mat-form-field>
  <button mat-button (click)="removeAuthor(i)">remove author</button>
   </div>
<button mat-button (click)="addAuthor()">add more author</button><br><br>
  </div>

  <mat-form-field appearance="fill">
    <input matInput name="pages" placeholder="pages"
      formControlName="totalPages">
    <mat-icon matSuffix><span class="material-symbols-outlined">numbers</span></mat-icon>
  </mat-form-field>

  <div formGroupName="price">
 <mat-form-field appearance="fill">
    <mat-select name="currency" placeholder="currency" formControlName="currency">

      <mat-option *ngFor="let currency of currencies" [value]="currency.value">{{currency.viewValue}}</mat-option>
    </mat-select>

    <!-- <mat-icon matSuffix><span class="material-symbols-outlined">attach_money</span></mat-icon> -->
  </mat-form-field>

   <mat-form-field appearance="fill">
    <mat-select name="price" placeholder="price" formControlName="value">

      <mat-option *ngFor="let price of prices" [value]="price.value">{{price.viewValue}}</mat-option>
    </mat-select>

    <!-- <mat-icon matSuffix><span class="material-symbols-outlined">attach_money</span></mat-icon> -->
  </mat-form-field>

  </div>


  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <input matInput [matDatepicker]="picker" name="publishedOn"
      formControlName="publishedOn">
  </mat-form-field>

  <mat-slide-toggle class="slide" name="isPublished"
    formControlName="isPublished">tag the book as
    "Published!"</mat-slide-toggle>

  <button type="submit" [disabled]="addBookForm.invalid" mat-raised-button
    color="primary">save the book
  </button>

</form>

{{addBookForm.value | json}}
