<p>add-book-reactive works!</p>
<p>add-book under books works!</p>

<form class="add-book-form" [formGroup]="addBookForm">

  <mat-form-field appearance="fill">
    <input matInput name="title" placeholder="title" formControlName="title">
    <mat-icon matSuffix><span class="material-symbols-outlined">auto_stories</span></mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput name="author" placeholder="author" formControlName="author">
    <mat-icon matSuffix><span class="material-symbols-outlined">settings_accessibility</span></mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput name="pages" placeholder="pages" formControlName="pages">
    <mat-icon matSuffix><span class="material-symbols-outlined">numbers</span></mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-select name="price" placeholder="Price" formControlName="price"></mat-select>
    <mat-option *ngFor="let price of prices" [value]="price.value">{{price.viewValue}}</mat-option>
    <mat-icon matSuffix><span class="material-symbols-outlined">attach_money</span></mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" name="publishDate"
      formControlName="publishDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-slide-toggle class="slide" name="isPublished"
    formControlName="isPublished">tag the book as
    "Published!"</mat-slide-toggle>

  <button type="submit" [disabled]="addBookForm.invalid" mat-raised-button
    color="primary">save the book
  </button>

</form>

{{addBookForm.value | json}}
